{% extends 'shared/_layout.html' %}

{% block title %}
    فراموشی رمز عبور
{% endblock %}
{% block header_refrences %}
    <link rel="stylesheet" href="/static/css/custom.css">
{% endblock %}
{% block content %}
    <main>

        <!-- =======================
        Inner intro START -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8 col-xl-6 mx-auto">
                        <div class="p-4 p-sm-5 bg-primary bg-opacity-10 rounded">
                            <h2>بازیابی رمز عبور</h2>
                            <!-- Form START -->
                            <form class="mt-4" action="{% url 'forget_password_page' %}" method="post">
                                <!-- Email -->
                            {% csrf_token %}
                                <div class="mb-3">
                                    <label class="form-label" for="emailsignup">پست الکترونیکی</label>
                                    {{ form.email }}
                                    <div class="text-danger-emphasis">{{ form.email.errors }}</div>
                                </div>


                                {% if captcha_active %}
                                    <div class="mb-3">
                                        <label class="form-label" for="emailsignup">{{ form.captcha.label }}</label>
                                        {{ form.captcha }}
                                        <div class="text-danger-emphasis">{{ form.captcha.errors }}</div>
                                    </div>
                                {% endif %}
                                <!-- Checkbox -->
                                <!-- Button -->
                                <div class="row align-items-center">
                                    <div class="col-sm-4">
                                        <button type="submit" class="btn btn-success">ثبت</button>
                                    </div>

                                </div>
                            </form>
                            <!-- Form END -->
                            <hr>
                            <p></p>

                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <!-- =======================
        Inner intro END -->

    </main>

{% endblock %}
{% block footer_refrences %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    {% load sweetify %}
    {% sweetify %}
{% endblock %}