{% extends 'shared/_layout.html' %}

{% block title %}
    فراموشی رمز عبور
{% endblock %}
{% block header_refrences %}
    <link rel="stylesheet" href="/css/custom.css">
{% endblock %}

{% block content %}
    <main>

        <!-- =======================
        Inner intro START -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8 col-xl-6 mx-auto">
                        <div class="p-4 p-sm-5 bg-primary bg-opacity-10 rounded">
                            <h2>بازیابی رمز عبور</h2>
                            <!-- Form START -->
                            <form class="mt-4" action="{% url 'reset-password-page' active_code=user.email_active_code %}" method="post">
                            {% csrf_token %}
                                <!-- Email -->
                                <div class="mb-3">
                                    <label class="form-label" for="emailsignup">{{ form.password.label}}</label>
                                    {{ form.password }}
                                    <div class="text-danger-emphasis">{{ form.password.errors }}</div>
                                </div>


                                    <div class="mb-3">
                                        <label class="form-label">{{ form.confirm_password.label }}</label>
                                        {{ form.confirm_password}}
                                        <div class="text-danger-emphasis">{{ form.confirm_password.errors }}</div>
                                    </div>

                                <!-- Checkbox -->
                                <!-- Button -->
                                <div class="row align-items-center">
                                    <div class="col-sm-4">
                                        <button type="submit" class="btn btn-success">ثبت</button>
                                    </div>

                                </div>
                            </form>
                            <!-- Form END -->
                            <hr>
                            <p></p>

                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <!-- =======================
        Inner intro END -->

    </main>

{% endblock %}
