{% extends 'shared/_layout.html' %}
{% block title %}
    ثبت نام
{% endblock %}


{% block header_refrences %}
    <link rel="stylesheet" href="/static/css/custom.css">
	<!-- Dark mode -->
	<script>
		const storedTheme = localStorage.getItem('theme')

		const getPreferredTheme = () => {
			if (storedTheme) {
				return storedTheme
			}
			return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
		}

		const setTheme = function (theme) {
			if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
				document.documentElement.setAttribute('data-bs-theme', 'dark')
			} else {
				document.documentElement.setAttribute('data-bs-theme', theme)
			}
		}

		setTheme(getPreferredTheme())

		window.addEventListener('DOMContentLoaded', () => {
		    var el = document.querySelector('.theme-icon-active');
			if(el != 'undefined' && el != null) {
				const showActiveTheme = theme => {
				const activeThemeIcon = document.querySelector('.theme-icon-active use')
				const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
				const svgOfActiveBtn = btnToActive.querySelector('.mode-switch use').getAttribute('href')

				document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
					element.classList.remove('active')
				})

				btnToActive.classList.add('active')
				activeThemeIcon.setAttribute('href', svgOfActiveBtn)
			}

			window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
				if (storedTheme !== 'light' || storedTheme !== 'dark') {
					setTheme(getPreferredTheme())
				}
			})

			showActiveTheme(getPreferredTheme())

			document.querySelectorAll('[data-bs-theme-value]')
				.forEach(toggle => {
					toggle.addEventListener('click', () => {
						const theme = toggle.getAttribute('data-bs-theme-value')
						localStorage.setItem('theme', theme)
						setTheme(theme)
						showActiveTheme(theme)
					})
				})

			}
		})

	</script>

	<!-- Favicon -->
	<link rel="shortcut icon" href="/static/images/favicon.ico">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="/static/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap-icons/bootstrap-icons.css">

	<!-- Theme CSS -->
	<link id="style-switch" rel="stylesheet" type="text/css" href="/static/css/style-rtl.css">

{% endblock %}
{% block content %}
    <!-- =======================
    Inner intro START -->


    <section>
        <main>
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8 col-xl-6 mx-auto">
                        <div class="bg-primary bg-opacity-10 rounded p-4 p-sm-5">
                            <h2>ثبت نام در سایت </h2>
                            <!-- Form START -->
                            <form class="mt-4" action="{% url 'sign_up' %}" method="post">
                                {% csrf_token %}
                                <!-- Email -->
                                <div class="mb-3">
                                    <label class="form-label" for="emailsignup">{{ form.email.label }}</label>
                                    {{ form.email }}
                                    <div class="text-danger-emphasis">{{ form.email.errors }}</div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="passworddignup">{{ form.password.label }}</label>
                                    {{ form.password }}
                                    <div class="text-danger-emphasis">{{ form.password.errors }}</div>
                                    <div class="text-danger-emphasis">{{ form.non_field_errors }}</div>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label"
                                           for="confirmpassworddignup">{{ form.confirm_password.label }}</label>
                                    {{ form.confirm_password }}

                                    <div class="text-danger-emphasis">{{ form.confirm_password.errors }}</div>

                                </div>

                                <div class="mb-3">

                                    {% if captcha_active %}
                                        <label class="form-label">{{ form.captcha.label }}</label>
                                        {{ form.captcha }}
                                        <div class="text-danger-emphasis">{{ form.captcha.errors }}</div>
                                    {% endif %}

                                </div>


                                <!-- Button -->
                                <div class="row align-items-center">
                                    <div class="col-sm-4">
                                        <button type="submit" class="btn btn-success">ثبت نام</button>
                                    </div>
                                    <div class="col-sm-8 text-sm-end">
                                        <span>آیا قبلا ثبت نام کرده اید؟ <a
                                                href="{% url 'sign_in' %}"><u>ورود</u></a></span>
                                    </div>
                                </div>


                            </form>
                            <!-- Form END -->
                            <hr>
                            {% comment %}    {% if success %}
                                <div class="text-light-emphasis">
                                    <p>ایمیلی حاوی لینک برای تایید ایمیل شما فرستاده شد.</p>
                                </div>
                            {% endif %}{% endcomment %}


                        </div>
                    </div>
                </div>
            </div>
        </main>
    </section>
    <!-- =======================
    Inner intro END -->

{% endblock %}


{% block footer_refrences %}
    <script src="/static/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/functions.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    {% load sweetify %}
    {% sweetify %}
{% endblock %}

