{% extends 'shared/_layout.html' %}
{% load poll_extras %}

{% block title %}
    خانه  | بلاگ نیز
{% endblock %}
{% block header_refrences %}
    <link rel="stylesheet" href="/static/css/custom.css">
    <!-- Dark mode -->
    <script>
        const storedTheme = localStorage.getItem('theme')

        const getPreferredTheme = () => {
            if (storedTheme) {
                return storedTheme
            }
            return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
        }

        const setTheme = function (theme) {
            if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                document.documentElement.setAttribute('data-bs-theme', 'dark')
            } else {
                document.documentElement.setAttribute('data-bs-theme', theme)
            }
        }

        setTheme(getPreferredTheme())

        window.addEventListener('DOMContentLoaded', () => {
            var el = document.querySelector('.theme-icon-active');
            if (el != 'undefined' && el != null) {
                const showActiveTheme = theme => {
                    const activeThemeIcon = document.querySelector('.theme-icon-active use')
                    const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
                    const svgOfActiveBtn = btnToActive.querySelector('.mode-switch use').getAttribute('href')

                    document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
                        element.classList.remove('active')
                    })

                    btnToActive.classList.add('active')
                    activeThemeIcon.setAttribute('href', svgOfActiveBtn)
                }

                window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
                    if (storedTheme !== 'light' || storedTheme !== 'dark') {
                        setTheme(getPreferredTheme())
                    }
                })

                showActiveTheme(getPreferredTheme())

                document.querySelectorAll('[data-bs-theme-value]')
                    .forEach(toggle => {
                        toggle.addEventListener('click', () => {
                            const theme = toggle.getAttribute('data-bs-theme-value')
                            localStorage.setItem('theme', theme)
                            setTheme(theme)
                            showActiveTheme(theme)
                        })
                    })

            }
        })

    </script>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/images/favicon.ico">

    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="/static/vendor/font-awesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/static/vendor/tiny-slider/tiny-slider.css">

    <!-- Theme CSS -->
    <link id="style-switch" rel="stylesheet" type="text/css" href="/static/css/style-rtl.css">

    <style></style>
    <style></style>
{% endblock %}

{% block content %}
    <main>

        <!-- =======================
        Main hero START -->
        <section class="pt-3 pb-3 mb-2 card-grid">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="tiny-slider arrow-hover arrow-blur arrow-white arrow-round rounded-3 overflow-hidden">
                            <div class="tns-outer" id="tns1-ow">
                                <div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">
                                    <span class="current">5</span> از 2
                                </div>
                                <div id="tns1-mw" class="tns-ovh">
                                    <div class="tns-inner" id="tns1-iw">
                                        <div class="tiny-slider-inner  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal"
                                             data-autoplay="true" data-hoverpause="true" data-gutter="1"
                                             data-arrow="true" data-dots="false" data-items="1" id="tns1"
                                             style="transform: translate3d(66.6667%, 0px, 0px);">
                                            {% for slider in sliders %}
                                                <div class="card bg-dark-overlay-3 h-400 h-sm-500 h-md-600 rounded-0 tns-item tns-slide-cloned"
                                                     style="background-image:url({{ slider.image.url }}); background-position: center left; background-size: cover;"
                                                     aria-hidden="true" tabindex="-1">
                                                    <!-- Card Image overlay -->
                                                    <div class="card-img-overlay d-flex align-items-center p-3 p-sm-5">
                                                        <div class="w-100 my-auto">
                                                            <div class="col-md-10 col-lg-7 mx-auto text-center">

                                                                <!-- Card title -->
                                                                <h2 class="text-white display-5"><a
                                                                        href="{{ slider.link }}"
                                                                        class="btn-link text-reset fw-normal">
                                                                    {{ slider.title }}
                                                                </a></h2>
                                                                <p class="text-white">{{ slider.text }}</p>
                                                                <!-- Card info -->
                                                                <ul class="nav nav-divider text-white-force align-items-center d-none d-sm-inline-block">

                                                                    <li class="nav-item">{{ slider.date|show_jalali_date }}</li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =======================
        Main hero END -->

        <!-- =======================
        Cards START -->
        <section class="p-0">
            <div class="container">
                <div class="row g-4">
                    {% for article in articles %}
                        <!-- Card item START -->
                        <div class="col-sm-6 col-lg-4">
                            <div class="card card-overlay-bottom card-img-scale overflow-hidden">
                                <!-- Card featured -->
                                {% if forloop.first %}
                                	<span class="card-featured" title="Featured post"><i class="fas fa-star"></i></span>
                                {% endif %}

                                <!-- Card Image -->
                                <img src="{{ article.image.url }}" alt="">
                                <!-- Card Image overlay -->
                                <div class="card-img-overlay d-flex flex-column p-3 p-md-4">
                                    <div>
                                        <!-- Card category -->
                                        <a href="#" class=" badge {% if article.category.url_title == 'technology'  %}text-bg-warning{% elif article.category.url_title == 'economy' %}text-bg-primary mb-2{% elif article.category.url_title == 'sport' %}text-bg-success mb-2 {% else %}text-bg-dark mb-2{% endif %}"><i
                                                class="fas fa-circle me-2 small fw-bold"></i>{{ article.category.title }}
                                        </a>
                                    </div>
                                    <div class="w-100 mt-auto">

                                        <!-- Card title -->
                                        <h4 class="text-white"><a href="post-single-5.html"
                                                                  class="btn-link text-reset stretched-link">{{ article.title }}</a>
                                        </h4>
                                        <!-- Card info -->
                                        <ul class="nav nav-divider text-white-force align-items-center small">
                                            <li class="nav-item position-relative">
                                                <div class="nav-link">با <a href="#"
                                                                            class="stretched-link text-reset btn-link">بلاگینز</a>
                                                </div>
                                            </li>
                                            <li class="nav-item">{{ article.create_date|show_jalali_date }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card item END -->
                    {% endfor %}


                </div> <!-- Row END -->
            </div>
        </section>
        <!-- =======================
        Cards END -->

        <!-- =======================
        Adv START -->
        <!-- =======================
        Adv END -->

        <!-- =======================
        Trending topics START -->
        <!-- =======================
        Trending topics END -->

        <!-- =======================
        Newsletter START -->
        <!-- =======================
        Newsletter END -->

    </main>

{% endblock %}
{% block footer_refrences %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    {% load sweetify %}
    {% sweetify %}
    <script src="/static/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/vendor/tiny-slider/tiny-slider-rtl.js"></script>
    <script src="/static/vendor/jarallax/jarallax.min.js"></script>
    <script src="/static/vendor/jarallax/jarallax-video.min.js"></script>
    <script src="/static/js/functions.js"></script>
{% endblock %}