{% extends 'shared/_layout.html' %}

{% block title %}
    خانه  | بلاگ نیز
{% endblock %}

{% block content %}
    <main>

        <!-- =======================
        Main hero START -->
        <section class="pt-3 pb-3 mb-2 card-grid">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="tiny-slider arrow-hover arrow-blur arrow-white arrow-round rounded-3 overflow-hidden">
                            <div class="tns-outer" id="tns1-ow">
                                <div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">
                                    <span class="current">5</span> از 2
                                </div>
                                <div id="tns1-mw" class="tns-ovh">
                                    <div class="tns-inner" id="tns1-iw">
                                        <div class="tiny-slider-inner  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal"
                                             data-autoplay="true" data-hoverpause="true" data-gutter="1"
                                             data-arrow="true" data-dots="false" data-items="1" id="tns1"
                                             style="transform: translate3d(66.6667%, 0px, 0px);">
                                            <div class="card bg-dark-overlay-3 h-400 h-sm-500 h-md-600 rounded-0 tns-item tns-slide-cloned"
                                                 style="background-image:url(/static/images/blog/16by9/05.jpg); background-position: center left; background-size: cover;"
                                                 aria-hidden="true" tabindex="-1">
                                                <!-- Card Image overlay -->
                                                <div class="card-img-overlay d-flex align-items-center p-3 p-sm-5">
                                                    <div class="w-100 my-auto">
                                                        <div class="col-md-10 col-lg-7 mx-auto text-center">
                                                            <!-- Card category -->
                                                            <a href="#" class="badge text-bg-primary mb-2"><i
                                                                    class="fas fa-circle me-2 small fw-bold"></i>اقتصاد</a>
                                                            <!-- Card title -->
                                                            <h2 class="text-white display-5"><a
                                                                    href="post-single-2.html"
                                                                    class="btn-link text-reset fw-normal">کریسمس چه فرقی
                                                                با سال نوی میلادی دارد؟</a></h2>
                                                            <p class="text-white">دستاوردهای اصلی و جوابگوی سوالات
                                                                پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار
                                                                گیرد.</p>
                                                            <!-- Card info -->
                                                            <ul class="nav nav-divider text-white-force align-items-center d-none d-sm-inline-block">
                                                                <li class="nav-item">
                                                                    <div class="nav-link">
                                                                        <div class="d-flex align-items-center text-white position-relative">
                                                                            <div class="avatar avatar-sm">
                                                                                <img class="avatar-img rounded-circle"
                                                                                     src="/static/images/avatar/14.jpg"
                                                                                     alt="avatar">
                                                                            </div>
                                                                            <span class="ms-3">با <a href="#"
                                                                                                     class="stretched-link text-reset btn-link">مهدی رزاق</a></span>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="nav-item">7 دی، 1400</li>
                                                                <li class="nav-item"><a href="#" class="btn-link"><i
                                                                        class="far fa-comment-alt me-1"></i> 5
                                                                    دیدگاه</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card bg-dark-overlay-3 h-400 h-sm-500 h-md-600 rounded-0 tns-item tns-slide-cloned"
                                                 style="background-image:url(/static/images/blog/16by9/02.jpg); background-position: center left; background-size: cover;"
                                                 aria-hidden="true" tabindex="-1">
                                                <!-- Card Image overlay -->
                                                <div class="card-img-overlay d-flex align-items-center p-3 p-sm-5">
                                                    <div class="w-100 my-auto">
                                                        <div class="col-md-10 col-lg-7 mx-auto text-center">
                                                            <!-- Card category -->
                                                            <a href="#" class="badge text-bg-danger mb-2"><i
                                                                    class="fas fa-circle me-2 small fw-bold"></i>مگامنو</a>
                                                            <!-- Card title -->
                                                            <h2 class="text-white display-5"><a
                                                                    href="post-single-2.html"
                                                                    class="btn-link text-reset fw-normal">مشکل اولیه
                                                                استارت آپ ها و راه حل آنها</a></h2>
                                                            <p class="text-white">دستاوردهای اصلی و جوابگوی سوالات
                                                                پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار
                                                                گیرد.</p>
                                                            <!-- Card info -->
                                                            <ul class="nav nav-divider text-white-force align-items-center d-none d-sm-inline-block">
                                                                <li class="nav-item">
                                                                    <div class="nav-link">
                                                                        <div class="d-flex align-items-center text-white position-relative">
                                                                            <div class="avatar avatar-sm">
                                                                                <img class="avatar-img rounded-circle"
                                                                                     src="/static/images/avatar/10.jpg"
                                                                                     alt="avatar">
                                                                            </div>
                                                                            <span class="ms-3">با <a href="#"
                                                                                                     class="stretched-link text-reset btn-link">مهشید صمدی</a></span>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="nav-item">17 تیر، 1400</li>
                                                                <li class="nav-item"><a href="#" class="btn-link"><i
                                                                        class="far fa-comment-alt me-1"></i> 3
                                                                    دیدگاه</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Slide 1 -->
                                            <div class="card bg-dark-overlay-3 h-400 h-sm-500 h-md-600 rounded-0 tns-item"
                                                 style="background-image:url(/static/images/blog/16by9/05.jpg); background-position: center left; background-size: cover;"
                                                 id="tns1-item0" aria-hidden="true" tabindex="-1">
                                                <!-- Card Image overlay -->
                                                <div class="card-img-overlay d-flex align-items-center p-3 p-sm-5">
                                                    <div class="w-100 my-auto">
                                                        <div class="col-md-10 col-lg-7 mx-auto text-center">
                                                            <!-- Card category -->
                                                            <a href="#" class="badge text-bg-primary mb-2"><i
                                                                    class="fas fa-circle me-2 small fw-bold"></i>اقتصاد</a>
                                                            <!-- Card title -->
                                                            <h2 class="text-white display-5"><a
                                                                    href="post-single-2.html"
                                                                    class="btn-link text-reset fw-normal">کریسمس چه فرقی
                                                                با سال نوی میلادی دارد؟</a></h2>
                                                            <p class="text-white">دستاوردهای اصلی و جوابگوی سوالات
                                                                پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار
                                                                گیرد.</p>
                                                            <!-- Card info -->
                                                            <ul class="nav nav-divider text-white-force align-items-center d-none d-sm-inline-block">
                                                                <li class="nav-item">
                                                                    <div class="nav-link">
                                                                        <div class="d-flex align-items-center text-white position-relative">
                                                                            <div class="avatar avatar-sm">
                                                                                <img class="avatar-img rounded-circle"
                                                                                     src="/static/images/avatar/14.jpg"
                                                                                     alt="avatar">
                                                                            </div>
                                                                            <span class="ms-3">با <a href="#"
                                                                                                     class="stretched-link text-reset btn-link">مهدی رزاق</a></span>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="nav-item">7 دی، 1400</li>
                                                                <li class="nav-item"><a href="#" class="btn-link"><i
                                                                        class="far fa-comment-alt me-1"></i> 5
                                                                    دیدگاه</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Slide 2 -->
                                            <div class="card bg-dark-overlay-3 h-400 h-sm-500 h-md-600 rounded-0 tns-item"
                                                 style="background-image:url(/static/images/blog/16by9/02.jpg); background-position: center left; background-size: cover;"
                                                 id="tns1-item1" aria-hidden="true" tabindex="-1">
                                                <!-- Card Image overlay -->
                                                <div class="card-img-overlay d-flex align-items-center p-3 p-sm-5">
                                                    <div class="w-100 my-auto">
                                                        <div class="col-md-10 col-lg-7 mx-auto text-center">
                                                            <!-- Card category -->
                                                            <a href="#" class="badge text-bg-danger mb-2"><i
                                                                    class="fas fa-circle me-2 small fw-bold"></i>مگامنو</a>
                                                            <!-- Card title -->
                                                            <h2 class="text-white display-5"><a
                                                                    href="post-single-2.html"
                                                                    class="btn-link text-reset fw-normal">مشکل اولیه
                                                                استارت آپ ها و راه حل آنها</a></h2>
                                                            <p class="text-white">دستاوردهای اصلی و جوابگوی سوالات
                                                                پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار
                                                                گیرد.</p>
                                                            <!-- Card info -->
                                                            <ul class="nav nav-divider text-white-force align-items-center d-none d-sm-inline-block">
                                                                <li class="nav-item">
                                                                    <div class="nav-link">
                                                                        <div class="d-flex align-items-center text-white position-relative">
                                                                            <div class="avatar avatar-sm">
                                                                                <img class="avatar-img rounded-circle"
                                                                                     src="/static/images/avatar/10.jpg"
                                                                                     alt="avatar">
                                                                            </div>
                                                                            <span class="ms-3">با <a href="#"
                                                                                                     class="stretched-link text-reset btn-link">مهشید صمدی</a></span>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="nav-item">17 تیر، 1400</li>
                                                                <li class="nav-item"><a href="#" class="btn-link"><i
                                                                        class="far fa-comment-alt me-1"></i> 3
                                                                    دیدگاه</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card bg-dark-overlay-3 h-400 h-sm-500 h-md-600 rounded-0 tns-item tns-slide-cloned tns-slide-active"
                                                 style="background-image:url(/static/images/blog/16by9/05.jpg); background-position: center left; background-size: cover;">
                                                <!-- Card Image overlay -->
                                                <div class="card-img-overlay d-flex align-items-center p-3 p-sm-5">
                                                    <div class="w-100 my-auto">
                                                        <div class="col-md-10 col-lg-7 mx-auto text-center">
                                                            <!-- Card category -->
                                                            <a href="#" class="badge text-bg-primary mb-2"><i
                                                                    class="fas fa-circle me-2 small fw-bold"></i>اقتصاد</a>
                                                            <!-- Card title -->
                                                            <h2 class="text-white display-5"><a
                                                                    href="post-single-2.html"
                                                                    class="btn-link text-reset fw-normal">کریسمس چه فرقی
                                                                با سال نوی میلادی دارد؟</a></h2>
                                                            <p class="text-white">دستاوردهای اصلی و جوابگوی سوالات
                                                                پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار
                                                                گیرد.</p>
                                                            <!-- Card info -->
                                                            <ul class="nav nav-divider text-white-force align-items-center d-none d-sm-inline-block">
                                                                <li class="nav-item">
                                                                    <div class="nav-link">
                                                                        <div class="d-flex align-items-center text-white position-relative">
                                                                            <div class="avatar avatar-sm">
                                                                                <img class="avatar-img rounded-circle"
                                                                                     src="/static/images/avatar/14.jpg"
                                                                                     alt="avatar">
                                                                            </div>
                                                                            <span class="ms-3">با <a href="#"
                                                                                                     class="stretched-link text-reset btn-link">مهدی رزاق</a></span>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="nav-item">7 دی، 1400</li>
                                                                <li class="nav-item"><a href="#" class="btn-link"><i
                                                                        class="far fa-comment-alt me-1"></i> 5
                                                                    دیدگاه</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card bg-dark-overlay-3 h-400 h-sm-500 h-md-600 rounded-0 tns-item tns-slide-cloned"
                                                 style="background-image:url(/static/images/blog/16by9/02.jpg); background-position: center left; background-size: cover;"
                                                 aria-hidden="true" tabindex="-1">
                                                <!-- Card Image overlay -->
                                                <div class="card-img-overlay d-flex align-items-center p-3 p-sm-5">
                                                    <div class="w-100 my-auto">
                                                        <div class="col-md-10 col-lg-7 mx-auto text-center">
                                                            <!-- Card category -->
                                                            <a href="#" class="badge text-bg-danger mb-2"><i
                                                                    class="fas fa-circle me-2 small fw-bold"></i>مگامنو</a>
                                                            <!-- Card title -->
                                                            <h2 class="text-white display-5"><a
                                                                    href="post-single-2.html"
                                                                    class="btn-link text-reset fw-normal">مشکل اولیه
                                                                استارت آپ ها و راه حل آنها</a></h2>
                                                            <p class="text-white">دستاوردهای اصلی و جوابگوی سوالات
                                                                پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار
                                                                گیرد.</p>
                                                            <!-- Card info -->
                                                            <ul class="nav nav-divider text-white-force align-items-center d-none d-sm-inline-block">
                                                                <li class="nav-item">
                                                                    <div class="nav-link">
                                                                        <div class="d-flex align-items-center text-white position-relative">
                                                                            <div class="avatar avatar-sm">
                                                                                <img class="avatar-img rounded-circle"
                                                                                     src="/static/images/avatar/10.jpg"
                                                                                     alt="avatar">
                                                                            </div>
                                                                            <span class="ms-3">با <a href="#"
                                                                                                     class="stretched-link text-reset btn-link">مهشید صمدی</a></span>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="nav-item">17 تیر، 1400</li>
                                                                <li class="nav-item"><a href="#" class="btn-link"><i
                                                                        class="far fa-comment-alt me-1"></i> 3
                                                                    دیدگاه</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                {#						</div></div></div></div><div class="tns-controls" aria-label="Carousel Navigation" tabindex="0"><button type="button" data-controls="prev" tabindex="-1" aria-controls="tns1"><i class="fas fa-chevron-left"></i></button><button type="button" data-controls="next" tabindex="-1" aria-controls="tns1"><i class="fas fa-chevron-right"></i></button></div></div>#}
                                            </div>
                                        </div>
                                    </div>
                                </div>
        </section>
        <!-- =======================
        Main hero END -->

        <!-- =======================
        Cards START -->
        <section class="p-0">
            <div class="container">
                <div class="row g-4">
                    <!-- Card item START -->
                    <div class="col-sm-6 col-lg-4">
                        <div class="card card-overlay-bottom card-img-scale overflow-hidden">
                            <!-- Card featured -->
                            <span class="card-featured" title="Featured post"><i class="fas fa-star"></i></span>
                            <!-- Card Image -->
                            <img src="/static/images/blog/3by4/01.jpg" alt="">
                            <!-- Card Image overlay -->
                            <div class="card-img-overlay d-flex flex-column p-3 p-md-4">
                                <div>
                                    <!-- Card category -->
                                    <a href="#" class="badge text-bg-warning"><i
                                            class="fas fa-circle me-2 small fw-bold"></i>تکنولوژی</a>
                                </div>
                                <div class="w-100 mt-auto">

                                    <!-- Card title -->
                                    <h4 class="text-white"><a href="post-single-5.html"
                                                              class="btn-link text-reset stretched-link">قهرمانی
                                        آرژانتین و لیونل مسی در جام جهانی</a></h4>
                                    <!-- Card info -->
                                    <ul class="nav nav-divider text-white-force align-items-center small">
                                        <li class="nav-item position-relative">
                                            <div class="nav-link">با <a href="#"
                                                                        class="stretched-link text-reset btn-link">مژگان
                                                حسنی</a>
                                            </div>
                                        </li>
                                        <li class="nav-item">17 تیر، 1400</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card item END -->
                    <!-- Card item START -->
                    <div class="col-sm-6 col-lg-4">
                        <div class="card card-overlay-bottom card-image-scale">
                            <!-- Card Image -->
                            <img src="/static/images/blog/3by4/02.jpg" alt="">
                            <!-- Card Image overlay -->
                            <div class="card-img-overlay d-flex flex-column p-3 p-md-4">
                                <div>
                                    <!-- Card category -->
                                    <a href="#" class="badge text-bg-success mb-2"><i
                                            class="fas fa-circle me-2 small fw-bold"></i>ورزش</a>
                                </div>
                                <div class="w-100 mt-auto">
                                    <!-- Card title -->
                                    <h4 class="text-white"><a href="post-single-5.html"
                                                              class="btn-link text-reset stretched-link">هدفون XM5 سونی
                                        در مقابل ایرپاد مکس اپل</a></h4>
                                    <!-- Card info -->
                                    <ul class="nav nav-divider text-white-force align-items-center small">
                                        <li class="nav-item position-relative">
                                            <div class="nav-link">با <a href="#"
                                                                        class="stretched-link text-reset btn-link">سهراب
                                                اسدی</a>
                                            </div>
                                        </li>
                                        <li class="nav-item">29 مرداد، 1400</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card item END -->
                    <!-- Card item START -->
                    <div class="col-sm-6 col-lg-4">
                        <div class="card card-overlay-bottom card-image-scale">
                            <!-- Card Image -->
                            <img src="/static/images/blog/3by4/04.jpg" alt="">
                            <!-- Card Image overlay -->
                            <div class="card-img-overlay d-flex flex-column p-3 p-md-4">
                                <div>
                                    <!-- Card category -->
                                    <a href="#" class="badge text-bg-primary mb-2"><i
                                            class="fas fa-circle me-2 small fw-bold"></i>اقتصاد</a>
                                </div>
                                <div class="w-100 mt-auto">
                                    <!-- Card title -->
                                    <h4 class="text-white"><a href="post-single-5.html"
                                                              class="btn-link text-reset stretched-link">بهترین حساب های
                                        توییتر برای یادگیری سرمایه گذاری در ایران</a></h4>
                                    <!-- Card info -->
                                    <ul class="nav nav-divider text-white-force align-items-center small">
                                        <li class="nav-item position-relative">
                                            <div class="nav-link">با <a href="#"
                                                                        class="stretched-link text-reset btn-link">فاطمه
                                                راد</a>
                                            </div>
                                        </li>
                                        <li class="nav-item">1 خرداد، 1400</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Card item END -->
                    <!-- Card item START -->
                    <div class="col-sm-6 col-lg-4">
                        <div class="card card-overlay-bottom card-image-scale">
                            <!-- Card Image -->
                            <img src="/static/images/blog/3by4/04.jpg" alt="">
                            <!-- Card Image overlay -->
                            <div class="card-img-overlay d-flex flex-column p-3 p-md-4">
                                <div>
                                    <!-- Card category -->
                                    <a href="#" class="badge text-bg-primary mb-2"><i
                                            class="fas fa-circle me-2 small fw-bold"></i>اقتصاد</a>
                                </div>
                                <div class="w-100 mt-auto">
                                    <!-- Card title -->
                                    <h4 class="text-white"><a href="post-single-5.html"
                                                              class="btn-link text-reset stretched-link">بهترین حساب های
                                        توییتر برای یادگیری سرمایه گذاری در ایران</a></h4>
                                    <!-- Card info -->
                                    <ul class="nav nav-divider text-white-force align-items-center small">
                                        <li class="nav-item position-relative">
                                            <div class="nav-link">با <a href="#"
                                                                        class="stretched-link text-reset btn-link">فاطمه
                                                راد</a>
                                            </div>
                                        </li>
                                        <li class="nav-item">1 خرداد، 1400</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card item END -->
                    <!-- Card item START -->
                    <div class="col-sm-6 col-lg-4">
                        <div class="card bg-primary h-400 h-sm-100">
                            <!-- Card Image overlay -->
                            <div class="card-img-overlay d-flex flex-column p-3 p-md-4">
                                <div>
                                    <!-- Card category -->
                                    <a href="#" class="badge text-bg-dark mb-2"><i
                                            class="fas fa-circle me-2 small fw-bold"></i>فرهنگ</a>
                                    <!-- Card title -->
                                    <blockquote class="blockquote blockquote-icon-bg mt-3">
                                        <p class="mb-0 text-white">زمان شما محدود است، پس آن را با زندگی دیگران هدر
                                            ندهید. گرفتار عقاید نشوید - زندگی حاصل نتایج تفکر دیگران است</p>
                                        <footer class="blockquote-footer text-white">استیو جابز <cite
                                                title="Source Title">شرکت اپل</cite></footer>
                                    </blockquote>
                                </div>
                                <div class="w-100 mt-auto">

                                    <!-- Card info -->
                                    <ul class="nav nav-divider text-white-force align-items-center small">
                                        <li class="nav-item position-relative">
                                            <div class="d-flex align-items-center position-relative">
                                                <div class="avatar avatar-xs">
                                                    <img class="avatar-img rounded-circle"
                                                         src="/static/images/avatar/01.jpg" alt="avatar">
                                                </div>
                                                <span class="ms-3">با <a href="#"
                                                                         class="stretched-link text-reset btn-link">نیلوفر راد</a></span>
                                            </div>
                                        </li>
                                        <li class="nav-item">7 دی، 1400</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card item END -->
                    <!-- Card item START -->
                    <div class="col-sm-6 col-lg-4">
                        <div class="card card-overlay-bottom card-image-scale">
                            <!-- Card Image -->
                            <img src="/static/images/blog/3by4/05.jpg" alt="">
                            <!-- Card Image overlay -->
                            <div class="card-img-overlay d-flex flex-column p-3 p-md-4">
                                <div>
                                    <!-- Card category -->
                                    <a href="#" class="badge text-bg-info mb-2"><i
                                            class="fas fa-circle me-2 small fw-bold"></i>پزشکی</a>
                                </div>
                                <div class="w-100 mt-auto">
                                    <!-- Card title -->
                                    <h4 class="text-white"><a href="post-single-5.html"
                                                              class="btn-link text-reset stretched-link">احداث و
                                        مقاوم‌سازی مدارس جلفا توسط منطقه آزاد ارس</a></h4>
                                    <!-- Card info -->
                                    <ul class="nav nav-divider text-white-force align-items-center small">
                                        <li class="nav-item position-relative">
                                            <div class="nav-link">با <a href="#"
                                                                        class="stretched-link text-reset btn-link">هادی
                                                کریمی</a>
                                            </div>
                                        </li>
                                        <li class="nav-item">15 خرداد، 1400</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card item END -->
                    <!-- Card item START -->
                    <div class="col-sm-6 col-lg-4">
                        <div class="card bg-light border h-500 h-sm-100">
                            <!-- Card Image overlay -->
                            <div class="card-img-overlay d-flex flex-column p-3 p-md-4">
                                <div>
                                    <!-- Card category -->
                                    <a href="#" class="badge text-bg-warning mb-2"><i
                                            class="fas fa-circle me-2 small fw-bold"></i>بین الملل</a>
                                    <!-- Card title -->
                                    <h4><a href="#" class="btn-link text-reset">افتتاح نمایشگاه آثار هنری در نگارخانه
                                        شهید شهرانی شهرکرد</a></h4>
                                    <p class="card-text d-none d-md-block">این راست نیست که هرچه عاشق‌ تر باشی بهتر درک
                                        می‌کنی. همه‌ی آنچه عشق و عاشقی</p>
                                    <div class="mt-3 rounded overflow-hidden">
                                        {#									<div class="h_iframe-aparat_embed_frame"><span style="display: block;padding-top: 57%"></span><iframe src="https://www.aparat.com/video/video/embed/videohash/cLp4i/vt/frame" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style=" height:100%"></iframe></div>#}
                                    </div>
                                </div>
                                <div class="w-100 mt-auto">
                                    <!-- Card info -->
                                    <ul class="nav nav-divider align-items-center small">
                                        <li class="nav-item position-relative">
                                            <div class="d-flex align-items-center position-relative">
                                                <div class="avatar avatar-xs">
                                                    <img class="avatar-img rounded-circle"
                                                         src="/static/images/avatar/05.jpg" alt="avatar">
                                                </div>
                                                <span class="ms-3">با <a href="#"
                                                                         class="stretched-link text-reset btn-link">نگین خالدی</a></span>
                                            </div>
                                        </li>
                                        <li class="nav-item">22 آذر، 1400</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card item END -->
                    <!-- Card item START -->
                    <div class="col-sm-6 col-lg-4">
                        <div class="card card-overlay-bottom card-image-scale">
                            <!-- Card Image -->
                            <img src="/static/images/blog/3by4/06.jpg" alt="">
                            <!-- Card Image overlay -->
                            <div class="card-img-overlay d-flex flex-column p-3 p-md-4">
                                <div>
                                    <!-- Card category -->
                                    <a href="#" class="badge text-bg-primary mb-2"><i
                                            class="fas fa-circle me-2 small fw-bold"></i>اقتصاد</a>
                                </div>
                                <div class="w-100 mt-auto">
                                    <!-- Card title -->
                                    <h4 class="text-white"><a href="post-single-5.html"
                                                              class="btn-link text-reset stretched-link">اجرای
                                        تفاهم‌نامه همکاری برای سهولت دریافت مدارک صنایع‌دستی</a></h4>
                                    <!-- Card info -->
                                    <ul class="nav nav-divider text-white-force align-items-center small">
                                        <li class="nav-item position-relative">
                                            <div class="nav-link">با <a href="#"
                                                                        class="stretched-link text-reset btn-link">آیدا
                                                مهربان</a>
                                            </div>
                                        </li>
                                        <li class="nav-item">7 دی، 1400</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card item END -->

                    <!-- Card item START -->
                    <div class="col-sm-6 col-lg-4">
                        <div class="card card-overlay-bottom card-image-scale">
                            <!-- Card Image -->
                            <img src="/static/images/blog/3by4/07.jpg" alt="">
                            <!-- Card Image overlay -->
                            <div class="card-img-overlay d-flex flex-column p-3 p-md-4">
                                <div>
                                    <!-- Card category -->
                                    <a href="#" class="badge text-bg-info mb-2"><i
                                            class="fas fa-circle me-2 small fw-bold"></i>طب سنتی</a>
                                </div>
                                <div class="w-100 mt-auto">
                                    <!-- Card title -->
                                    <h4 class="text-white"><a href="post-single-5.html"
                                                              class="btn-link text-reset stretched-link">رونمایی از طرح
                                        بزرگترین تلسکوپ نوری آسیا</a></h4>
                                    <!-- Card info -->
                                    <ul class="nav nav-divider text-white-force align-items-center small">
                                        <li class="nav-item position-relative">
                                            <div class="nav-link">با <a href="#"
                                                                        class="stretched-link text-reset btn-link">نیلوفر
                                                کشفی</a>
                                            </div>
                                        </li>
                                        <li class="nav-item">17 تیر، 1400</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card item END -->
                </div> <!-- Row END -->
            </div>
        </section>
        <!-- =======================
        Cards END -->

        <!-- =======================
        Adv START -->
        <!-- =======================
        Adv END -->

        <!-- =======================
        Trending topics START -->
        <!-- =======================
        Trending topics END -->

        <!-- =======================
        Newsletter START -->
        <!-- =======================
        Newsletter END -->

    </main>

{% endblock %}