<a class="nav-link btn btn-light btn-round mb-0" data-bs-toggle="offcanvas" href="#offcanvasMenu"
                       role="button" aria-controls="offcanvasMenu">
                        <i class="bi bi-cart3 fa-fw" data-bs-target="#offcanvasMenu"></i>
                    </a>
                    <span class="position-absolute top-0 start-100 translate-middle badge smaller rounded-circle bg-dark mt-xl-2 ms-n1">{{ product_count }}
						<span class="visually-hidden">پیام خوانده نشده</span>
					</span>