
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div style="width:100%;padding:15px 0;box-sizing:border-box;background-color:#1f2e3c">
        <div style="width:250px;display:table;box-sizing:border-box;margin:0 auto 15px;direction:rtl">
            <h2 style="color:white"> سایت فروشگاهی بلاگینه</h2>
        </div>
    </div>



    <div style="padding:15px 0;border-bottom:3px solid #dce6ed;padding-bottom:55px">
        <h2 style="font-size:16px;font-family:tahoma;color:#222a4a;padding-bottom:10px"> تغیر رمز حساب کاربری </h2>

        <p style="font-size:13px;font-weight:bold;text-align:justify;line-height:28px;font-family:tahoma;color:#222a4a;margin:0;padding:10px 0">با تشکر از استفاده شما از سایت بلاگزینه </p>
        <p style="font-size:13px;font-weight:bold;text-align:justify;line-height:28px;font-family:tahoma;color:#222a4a;margin:0;padding:10px 0">جهت تغییر رمز حساب کاربری خود بر روی این لینک کلیک کنید</p>

        <div style="text-align:center">
            <a href="http://localhost:8000{% url 'reset-password-page' active_code=user.email_active_code %}" style="font-size:13px;text-align:center;line-height:28px;font-family:tahoma;color:#3d74e4!important" target="_blank">تغیر رمز حساب کاربری {{ user.email }}</a>
        </div>
        <div style="text-align:center">
            <p> <a href="http://localhost:8000{% url 'reset-password-page' active_code=user.email_active_code   %}" target="_blank"> </a>http://localhost:8000{% url 'reset-password-page' active_code=user.email_active_code %}</p><div class="yj6qo"></div><div class="adL">
        </div></div><div class="adL">
    </div></div>
</body>
</html>
