{% comment %}
JS libraries, plugins and custom scripts -->

 Bootstrap JS{% endcomment %}
<script src="/static/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

{% comment %}/static Vendors{% endcomment %}
<script src="/static/vendor/tiny-slider/tiny-slider-rtl.js"></script>
<script src="/static/vendor/jarallax/jarallax.min.js"></script>
<script src="/static/vendor/jarallax/jarallax-video.min.js"></script>

{% comment %} Template Functions{% endcomment %}
<script src="/static/js/functions.js"></script>
<script src="/static/js/custom.js"></script>
{% comment %}sweat alert{% endcomment %}
{% comment %}
<script src="/static/lib/node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>{% endcomment %}
