<footer class="pb-5">
	<div class="container">
		<div class="row pt-5">
			<div class="col-lg-7 mx-auto text-center">
				<!-- Logo -->
				<img class="light-mode-item mx-auto" src="/static/images/logo.svg" alt="logo">
				<img class="dark-mode-item mx-auto" src="/static/images/logo-light.svg" alt="logo">
				<p class="mt-3">این قالب مبتنی بر بوت استرپ 5 برای همه انواع سایت های مجله خبری و وبلاگ مناسب است.</p>
				<!-- Links -->
        <ul class="nav text-center text-sm-end justify-content-center justify-content-center mt-3 mt-md-0">
          <li class="nav-item"><a class="nav-link" href="#">درباره ما</a></li>
          <li class="nav-item"><a class="nav-link" href="#">قوانین سایت</a></li>
          <li class="nav-item"><a class="nav-link" href="#">ثبت نام</a></li>
          <li class="nav-item"><a class="nav-link" href="#">پشتیبانی<span class="badge text-bg-danger ms-2">2</span></a></li>
          <li class="nav-item"><a class="nav-link" href="#">تماس با ما</a></li>
          <li class="nav-item"><a class="nav-link pe-0" href="#">کوکی ها</a></li>
        </ul>
				<div class="mt-2">©2022 ارائه شده در سایت <a href="https://www.rtl-theme.com/" class="text-reset btn-link" target="_blank">راست چین</a>
			</div>
		</div>
	</div>
</div>
</footer>
<div class="back-top back-top-show"><i class="bi bi-arrow-up-short"></i></div>